<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Operações</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<form onsubmit="event.preventDefault(); executarOperacao();" >
		<div class="form-row col-md-12">
			<div class="form-group col-md-6">
				<label for="cpf">CPF</label> <input type="text" class="form-control"
					id="cpf" placeholder="Digite o CPF">
			</div>
			<div class="form-group col-md-6 d-flex align-items-end">
				<button type="button" class="btn btn-secondary"
					onclick="pesquisarContas()">Buscar Contas</button>
			</div>
		</div>

		<!-- Exibir contas -->
		<div id="clienteInfo" style="display: none;" class="col-md-12">
			<p>
				<strong>Nome:</strong> <span id="clienteNome"></span>
			</p>
			<p>
				<strong>CPF:</strong> <span id="clienteCpf"></span>
			</p>
			<div class="form-group col-md-12">
				<label>Contas Existentes:</label> <select id="listaContas"
					class="form-control">
					<option value="" disabled selected>Selecione uma conta</option>
				</select>
			</div>


		</div>

		<!-- Seletor de Operações -->
		<div id="operacoes">
			<div class="form-group col-md-12">
				<label for="operacao">Selecione a Operação:</label> <select
					class="form-control" id="operacao"
					onchange="exibirCamposOperacao()">
					<option value="" disabled selected>Selecione uma Operação</option>
					<option value="2">2 - Efetuar PIX</option>
					<option value="3">3 - Transferência para Conta Poupança</option>
					<option value="4">4 - Transferência para outras contas</option>
					<option value="5">5 - Exibir Saldo</option>
					<option value="6">6 - Efetuar Depósito</option>
				</select>
			</div>
		</div>
		<div class="form-group col-md-12" id="valorOperacaoDiv" style="display: none;">
			<label for="valorOperacao">Valor da Operação</label> <input
				type="number" class="form-control" id="valorOperacao"
				placeholder="Digite o valor da operação">
		</div>
		<div class="form-group" id="numContaDestinoDiv" style="display: none;">
			<label for="numContaDestino">Número da Conta Destino</label> <input
				type="text" class="form-control" id="numContaDestino"
				placeholder="Digite o número da conta destino">
		</div>
		<div id="operacaoDetalhes"></div>

		<button type="submit" class="btn btn-primary ">Executar
			Operação</button>
		<button type="button" class="btn btn-primary"
			onclick="window.history.back()">Voltar</button>
	</form>

	<script>
    function pesquisarContas() {
      const cpf = document.getElementById('cpf').value;
      fetch(`http://localhost:8080/cliente/buscarCpf/${cpf}`)
        .then(response => response.json())
        .then(data => {
          console.log("Resposta do servidor:", data);
          if (data && data.contas && data.contas.length > 0) {
            document.getElementById('clienteNome').textContent = data.nome;
            document.getElementById('clienteCpf').textContent = data.cpf;
            document.getElementById('clienteInfo').style.display = 'block';

            const listaContas = document.getElementById('listaContas');
            listaContas.innerHTML = '';
            const optionSelecione = document.createElement('option');
            optionSelecione.value = '';
            optionSelecione.disabled = true;
            optionSelecione.selected = true;
            optionSelecione.textContent = 'Selecione uma conta';
            listaContas.appendChild(optionSelecione);

            data.contas.forEach(conta => {
              const option = document.createElement('option');
              option.value = conta.numConta;
              option.textContent = `Conta: ${conta.numConta} - Tipo: ${conta.tipoConta} - Saldo: ${conta.saldo}`;
              listaContas.appendChild(option);
            });
          } else {
            alert("Nenhuma conta encontrada para este CPF!");
          }
        })
        .catch(error => console.error("Erro ao buscar contas:", error));
    }

    function exibirCamposOperacao() {
      const operacao = document.getElementById('operacao').value;
      const valorOperacaoDiv = document.getElementById('valorOperacaoDiv');
      const numContaDestinoDiv = document.getElementById('numContaDestinoDiv');

      if (operacao === "2" || operacao === "3" || operacao === "4" || operacao === "6") {
        valorOperacaoDiv.style.display = 'block';
      } else {
        valorOperacaoDiv.style.display = 'none';
      }

      if (operacao === "4") {
        numContaDestinoDiv.style.display = 'block';
      } else {
        numContaDestinoDiv.style.display = 'none';
      }
    }

    function executarOperacao() {
      const operacao = document.getElementById('operacao').value;
      const valorOperacao = document.getElementById('valorOperacao').value;
      const cpf = document.getElementById('cpf').value;
      const contaSelecionada = document.getElementById('listaContas').value;
      const numContaDestino = document.getElementById('numContaDestino').value;

      if (operacao === "2") {
        efetuarPIX(cpf, valorOperacao, contaSelecionada);
      } else if (operacao === "3") {
        transferenciaContaPoupanca(cpf, valorOperacao, contaSelecionada);
      } else if (operacao === "4") {
        transferenciaOutrasContas(cpf, valorOperacao, contaSelecionada, numContaDestino);
      } else if (operacao === "5") {
        exibirSaldo(cpf);
      } else if (operacao === "6") {
        efetuarDeposito(cpf, valorOperacao, contaSelecionada);
      } else {
        alert("Operação inválida.");
      }
    }

    function efetuarPIX(cpf, valor, contaSelecionada) {
      if (valor && contaSelecionada) {
        fetch(`http://localhost:8080/conta/efetuarPIX`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ cpf, chave: contaSelecionada, valor })
        })
          .then(response => response.json())
          .then(data => {
            alert("PIX realizado com sucesso!");
          })
          .catch(error => alert("Erro ao realizar PIX."));
      }
    }

    function transferenciaContaPoupanca(cpf, valor, contaSelecionada) {
      if (valor) {
        fetch(`http://localhost:8080/conta/transferirPoupanca`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ cpf, valor, contaSelecionada })
        })
          .then(response => response.json())
          .then(data => {
            alert("Transferência para Conta Poupança realizada com sucesso!");
          })
          .catch(error => alert("Erro ao transferir para conta Poupança."));
      }
    }

    function transferenciaOutrasContas(cpf, valor, contaSelecionada, numContaDestino) {
      if (valor && numContaDestino) {
        fetch(`http://localhost:8080/conta/transferirOutrasContas`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ cpf, numContaDestino, valor })
        })
          .then(response => response.json())
          .then(data => {
            alert("Transferência realizada com sucesso!");
          })
          .catch(error => alert("Erro ao transferir para outra conta."));
      }
    }

    function exibirSaldo(cpf) {
      fetch(`http://localhost:8080/conta/exibirSaldo?cpf=${cpf}`)
        .then(response => response.json())
        .then(data => {
          alert("Saldo da Conta: " + data.saldo);
        })
        .catch(error => alert("Erro ao exibir saldo."));
    }

    function efetuarDeposito(cpf, valor, contaSelecionada) {
      if (valor) {
        fetch(`http://localhost:8080/conta/depositar`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ cpf, valor })
        })
          .then(response => response.json())
          .then(data => {
            alert("Depósito realizado com sucesso! Novo saldo: " + data.saldo);
          })
          .catch(error => alert("Erro ao realizar depósito."));
      }
    }
  </script>
</body>
</html>